
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #FAFAFA;
}

::-webkit-scrollbar-thumb {
    background: #213268;
    border-radius: 7px;
}

/* 
.v-btn--active {
    background-color: #c8d9e9 !important;
    color: #213268 !important;
} */

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(33, 50, 104, 0.9); /* Light semi-transparent overlay */
    backdrop-filter: blur(10px); /* Blur for glassmorphism effect */
    z-index: 99999 !important;
    transition: opacity 0.5s, visibility 0.5s;
}

.loader-wrapper.hide {
    opacity: 0;
    visibility: hidden;
  }

/* HTML: <div class="loader"></div> */
.loader-wrapper > .loader {
    width: 100px;
    height: 60px;
    display: flex;
    animation: l12-0 2s infinite linear;
  }
  .loader::before,
  .loader::after  {
    content:"";
    flex:4;
    background: 
      radial-gradient(at 50% 20%,#0000,#000a) bottom left/20px 20px repeat-x,
      linear-gradient(#213268 0 0) bottom/100% 20px no-repeat
      #ddd;
    -webkit-mask:
      repeating-linear-gradient(90deg,#000 0 4px,#0000 0 20px) 8px 0,
      radial-gradient(farthest-side,#000 90%,#0000) left bottom/20px 20px repeat-x;
  }
  .loader::after {
    flex: 1;
    transform-origin: top;
    animation: l12-1 1s cubic-bezier(0,20,1,20) infinite;
  }
  @keyframes l12-0 { 
   0%,49.9% {transform: scaleX(1)}
   50%,100% {transform: scaleX(-1)}
  }
  @keyframes l12-1 { 
   100% {transform: rotate(-2deg)}
  }